<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="con" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\user\source\Repos\SEP_241.1\DB\MyDB.mdf;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True;"/>
		<add key="hello" value="привет я "/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>